.contact
    width: 100%
    position: fixed
    margin: 0 auto
    right: 0
    top: 0
    text-align: right
#mainNav 
    background-color: #1088DC
.fixed-top 
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 1030
.navbar
    display: -ms-flexbox
    display: flex
    justify-content: space-between
.fixed-top 
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 1030
.container 
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
.collapse:not(.show) 
  display: none
.nav-link 
  display: block
  padding: 0.5rem 1rem
.nav-link:hover,.nav-link:focus 
  text-decoration: none
.navbar 
  display: -ms-flexbox
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  padding: 0.5rem 1rem
.navbar > .container 
  display: -ms-flexbox
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
.navbar-brand 
  display: inline-block
  padding-top: 0.3125rem
  padding-bottom: 0.3125rem
  margin-right: 1rem
  font-size: 1.25rem
  line-height: inherit
  white-space: nowrap
.navbar-brand:hover,.navbar-brand:focus 
  text-decoration: none
.navbar-nav 
  display: -ms-flexbox
  display: flex
  flex-direction: column
  padding-left: 0
  margin-bottom: 0
  list-style: none
.navbar-nav .nav-link 
  padding-right: 0
  padding-left: 0
.navbar-collapse 
  flex-basis: 100%
  flex-grow: 1
  align-items: center
.navbar-toggler 
  padding: 0.25rem 0.75rem
  font-size: 1.25rem
  line-height: 1
  background-color: transparent
  border: 1px solid transparent
  border-radius: 0.25rem
.navbar-toggler:hover,.navbar-toggler:focus 
  text-decoration: none
.navbar-toggler:not(:disabled):not(.disabled) 
  cursor: pointer

.logo
    background: url(/assets/imgs/genial-logo.png)
    width: 151px
    height: 40px
    background-size: 75%
    background-repeat: no-repeat
    margin-top: 10px
@media (min-width: 992px)
    #mainNav 
        padding-bottom: 25px
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s
        transition: padding-top 0.3s, padding-bottom 0.3s
        border: none
        background-color: transparent
    #mainNav.navbar-shrink 
        padding-top: 0px
        padding-bottom: 0px
        background-color: rgba(40, 40, 40, .85);
        height: 100px;
    .container 
        max-width: 960px
        width: 100%
        padding-right: 15px
        padding-left: 15px
        margin-right: auto
        margin-left: auto
    .navbar-toggler
        display: none
    .navbar-expand-lg 
        flex-flow: row nowrap
        justify-content: flex-start
    .navbar-expand-lg .navbar-nav 
        flex-direction: row
    .navbar-expand-lg .navbar-nav .nav-link 
        padding-right: 0.5rem
        padding-left: 0.5rem
    .navbar-expand-lg > .container 
        flex-wrap: nowrap
    .navbar-expand-lg .navbar-collapse 
        display: flex!important
        flex-basis: auto
    .navbar-expand-lg .navbar-toggler 
        display: none
  
    .logo
        background: url(/assets/imgs/genial-logo.png)
        width: 151px
        height: 40px
    .contact
        position: fixed
        margin: 0 auto
        right: 0
        top: 0
  

