<div class="disclaimer-content">   
    <div class="disclaimer-content-grid">
        <div class="logo">
            <img class="img-logo" src="/assets/imgs/logo_geracao.png" alt="">
        </div>   
        <div class="logo">
            <img class="img-logo" src="/assets/imgs/logo_genial.png" alt="">
        </div>   
        <div class="logo">
            <img class="img-logo" src="/assets/imgs/logo_seguros.png" alt="">            
        </div>   
        <div class="sociais">
            <img class="img-sociais" src="/assets/imgs/logo_sociais.png" alt="">                        
        </div> 
    </div> 
    <div class="container-links">
        <ul>
            <li>Legislação e regras</li>
            <li>termo de uso e risco</li>
            <li>política de privacidade</li>
            <li>balanços</li>
            <li>Agente Autônomo</li>
            <li>Regime de atuação dos AAI</li>
            <li>Relatório de pessoa vinculada</li>
            <li>fatos relevantes</li>
        </ul>
    </div>     
</div>