<div class="footer-content">   
    <div class="container-links">  
        <div class="links">
                <ul>
                    <li>BM&F Bovespa</li>
                    <li>BSM</li>
                    <li>CVM</li>
                    <li>ANBIMA</li>
                    <li>Cetip</li>
                    <li>Banco Central</li>
                </ul>
        </div> 
        <div class="seals-links">
            <div class="seals-links-logo">           
                <img class="img-logo" src="/assets/imgs/selo_broker.png" alt="">                        </div> 
            <div class="seals-links-logo">
                <img class="img-logo" src="/assets/imgs/selo_retail.png" alt="">                            
            </div> 
            <div class="seals-links-logo">
                <img class="img-logo" src="/assets/imgs/selo_anbima.png" alt="">                            
            </div> 
        </div> 
        <div class="text-info">
            <p>
                Toda comunicação através da rede mundial de computadores está sujeita a interrupções, podendo invalidar ordens ou negociações. A corretora exime-se de responsabilidade por danos sofridos por seus clientes, por força de falha de serviços realizados por terceiros, incluindo, sem limitação, aqueles conexos à rede mundial de computadores.<br><br>
                Ao investidor é recomendada a leitura cuidadosa do prospecto e do regulamento do fundo de investimento ao aplicar seus recursos. As matérias jornalísticas, vídeos, opiniões de economistas e/ou consultores, conteúdos produzidos nos fóruns de discussão, entre outras informações e/ou dados disponibilizados a partir dos sistemas eletrônicos 
                da Genial são de caráter meramente informativo. Tais conteúdos foram elaborados de acordo com o contexto e conjuntura do momento de sua produção, não podendo ser consideradas como recomendações ou ofertas de qualquer natureza. Alguns fundos apresentados nos sistemas eletrônicos da Genial podem utilizar estratégias com derivativos como 
                parte integrante de sua política de investimento. Tais estratégias, da forma como são adotadas, podem resultar em significativas perdas patrimoniais para seus cotistas, podendo inclusive acarretar perdas superiores ao capital aplicado e a consequente obrigação do cotista de aportar recursos adicionais para cobrir o prejuízo do fundo. 
                Alguns fundos apresentados nos sistemas eletrônicos da Genial podem alocar parte de seus recursos em fundos que mantenham em sua carteira ativos financeiros negociados no exterior, bem como realizar aplicações em ativos financeiros no exterior, nos limites previstos na Instrução CVM 555, de 17 de dezembro de 2014 e suas posteriores 
                alterações. A rentabilidade obtida no passado não representa garantia de rentabilidade futura. Fundos de investimento não contam com garantia do administrador do fundo, do gestor da carteira, de qualquer mecanismo de seguro ou, ainda, do Fundo Garantidor de Créditos/FGC. Geração Futuro Corretora de Valores S/A é uma instituição 
                autorizada a funcionar pelo Banco Central do Brasil. As comparações entre rentabilidades e indicadores econômicos disponíveis neste site tratam-se de mera referência econômica, e não necessariamente meta ou parâmetro de performance dos fundos. Os fundos possuem datas próprias e diferentes entre si de conversão de cotas, de pedido 
                de resgate e de pagamentos de resgate, conforme seus respectivos regulamentos e prospectos. As taxas máximas de administração cobradas pelos fundos são decorrentes das aplicações que estes podem fazer em outros fundos de investimento. Não há garantia de que os fundos terão tratamento tributário para fundos de longo prazo, quando 
                aplicável. Os produtos e serviços aqui mencionados podem não estar disponíveis em todas as jurisdições ou para determinadas categorias de investidores. A Geração Futuro Corretora de Valores ("Genial") ou os agentes autônomos de investimento à ela vinculados ("AAI Genial"), na qualidade de distribuidores de cotas de fundos de 
                investimento, poderão receber remuneração em razão das aplicações efetuadas pelos clientes. Esta remuneração poderá ser diferenciada em função do fundo de investimento que recebe a aplicação. Morningstar®. Todos os direitos reservados. Apenas para uso institucional. A informação aqui contida: (1) é propriedade da Morningstar 
                e/ou seus provedores de conteúdo, (2) não pode ser copiado ou distribuído, e (3) não é garantia de estar precisa, completas ou atualizadas. A Morningstar nem os seus fornecedores de conteúdos são responsáveis por quaisquer danos ou perdas resultantes de qualquer uso desta informação. A performance histórica não é garantia de 
                resultados futuros. Veja a metodologia de cálculo. * O cliente GENIAL tem acesso a um portal completo com notícias em tempo real, blog com informações de investimentos e consultoria financeira de maneira gratuita através do Gerador. As operações de Home Broker e demais atividades que figurem a intermediação de valores 
                mobiliários estarão sujeitas a taxas de corretagem e/ou tarifas inerentes a prestação dos serviços. ** Para avaliação da performance de fundos de investimento é recomendável a análise de um período de, no mínimo, 12 (doze) meses.
            </p>
        </div>
    </div>      
</div>