//Importando scss globais
@import '../sass/_menu'
html,body
    width: 100%;
    height: 100%
.carousel
    margin: 500px auto
.banner-content
    width: 100%
    margin: 0 auto
    height: 100vh
    position: relative
.content-anl
    background: url(/assets/imgs/banner1.png)
    background-size: cover
    background-position: center
.content-mkt
    background: url(/assets/imgs/banner2.png) 
    background-size: cover
    background-position: center
.content-mult
    background: url(/assets/imgs/banner3.png) 
    background-size: cover
    background-position: center
.content-btn-img
    bottom: 0
    position: absolute
    width: 100%
    background-color: rgba(92, 88, 88, 0.35)
    span
        position: absolute
        bottom: 44vh
        color: #fff
        font-size: 30px
        width: 24%
        left: 650px
        letter-spacing: 2px
        display: none
    .text-img-anl
        left: 350px
        display: block
    .text-img-mkt
        left: 350px
        display: none
    .btns
        width: 90%
        margin: 0 auto
        text-align: center
    .btn-img
        color: $color-wh
        font-weight: 100
        font-size: 16px
        width: 20%
        padding: 0px
        text-transform: uppercase
        display: inline-table
        height: 50px
        margin: 0px auto
        cursor: pointer
        background-color: rgba(121, 121, 121, 0.5686274509803921)
        padding-bottom: 10px
        position: relative
        top: -30px
        border-radius: 5px;
    .active
        color: $color-wh
        background-color: $color-btn-img
        padding-bottom: 10px
        position: relative;
        top: -30px;
.who
    background-color: #EEEEEE
    height: auto
    .who-content
    .up
        position: absolute
        margin: 10px auto
        right: 200px
        cursor: pointer
    h1
        color: $color-base
        margin: 50px auto
        position: relative
        display: inline-block
        text-align: center
        width: 100%
        font-family: Arial, Helvetica, sans-serif
        font-weight: 100
        font-size: 50px
    .cols-who
        margin: 0 auto
        position: relative
        width: 23%;
        padding: 50px;
        display: inline-block
        text-align: center
        font-family: Arial, Helvetica, sans-serif
        img
            text-align: center
            margin: 0 auto
            display: inline-block
        h2
            font-size: 22px
            font-weight: 100
            color: $color-base
            width: 70%;
            margin: 10px auto;
        p
            font-size: 15px
            font-weight: 100
            color: #6B6D70  
.services
    height: auto
    color: #3168B8
    .services-content
        .up
            position: absolute
            margin: 10px auto
            right: 200px
            cursor: pointer
            color: #cccccc
.contact
    height: auto
    color: #3168B8
    .contact-content
        .up
            position: absolute
            margin: 10px auto
            right: 200px
            cursor: pointer
            color: #cccccc

//SmartPhones
@media #{$mq-mobile-min} and #{$mq-mobile-max}    
    .content-btn-img
        .text-img-mkt
            left: 7%
            font-size: 17px
            width: 90%
        .text-img-anl
            left: 7%
            font-size: 17px
            width: 90%
        .text-img-mult
            left: 7%
            font-size: 17px
            width: 90%
    .btn-img
        font-size: 10px !important
        width: 30% !important
        height: 35px !important
    .who-content
         h1
            font-size: 40px !important
    .cols-who
        width: 100% !important
        padding: 0px !important
        .cols-who-text
            padding: 30px
//Tablets
@media #{$mq-tablet-min} and #{$mq-tablet-max}    
    .content-btn-img
        .text-img-mkt
            left: 7%
            font-size: 20px
            width: 90%
        .text-img-anl
            left: 7%
            font-size: 20px
            width: 90%
        .text-img-mult
            left: 7%
            font-size: 20px
            width: 90%
    .btn-img
        font-size: 12px !important
        width: 25% !important
    .cols-who
        width: 48% !important
        padding: 0px !important