//Importando scss globais
@import '../sass/_menu'
.carousel
    margin: 500px auto
.banner-content
    background: url(/assets/imgs/banner1.png)
    width: 100%
    margin: 0 auto
    height: 1020px
    position: relative
    background-size: cover
    background-position: center
.who-content
    height: 640px
    color: #3168B8
.services
    height: 680px
    color: #3168B8