<div class="svc-content">
        <h1>SERVIÇOS</h1>        
    <div class="svc-content-grid">
        <div class="svc-content-grid-img-pregao">
            <div class="footer-title">
                <p>PREGÃO AO VIVO</p>
            </div>
        </div>
        <div class="svc-content-grid-img-plataformas">
            <div class="footer-title">
                <p>PLATAFORMAS INTELIGENTES</p>
            </div>
        </div>
        <div class="svc-content-grid-img-mercado">
            <div class="footer-title">
                <p>FÓRUM DE MERCADO</p>
            </div>
        </div>        
        <div class="svc-content-grid-img-carteira">
            <div class="footer-title">
                <p>CARTEIRA RECOMENDADA</p>
            </div>
        </div>
    </div>
</div>